.body {
	width: 1440px;
}

.my-name {
	font-family: sans-serif;
	color: Orchid;
	background-color: greenyellow;
	font-size: 25px;
	font-weight: bold;
	padding: 80px;
}

.navigation {
	background-color: greenyellow;
	color: Orchid;
	font-family: sans-serif;
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 80px;
}

.link {
	color: Orchid;
	text-decoration: underline;	
}

.link:hover {
	color: Orchid;
	text-decoration: none;	
}

.link:visited {
	color: Plum;
	text-decoration: underline;	
}

.about-me {	
	letter-spacing: 3px;
	font-family: sans-serif;
	padding-top: 80px ;
	padding-bottom: 80px;
	padding-left: 80px;
}

.footer {
	background-image: url("../img/img2.png");
	background-position: left;
	background-repeat: no-repeat;
	background-color: greenyellow;
	padding: right 80px, top 80 px, bottom 80px;
}

.h3 {
	font-size: 20px;
	text-align: right;
	color: Orchid;
	font-family: sans-serif;
}