body {
	width: 1440px;
}
.header {
	height: 60px;
	background-color: red;
	color: white;
	padding: 20px 600px 20px 20px;
}

.main {
	display: inline-block;
	text-align: center;
}

.one .two .three {
	height: 800px;
	width: 400px;
	border: 5px solid yellow;
	border-radius: 30px;
	color: black;
	position: absolute;
}

h1 {
	font-size: 20px;
}
.one {
	top: 112px;
	left: 70px;
}

.two {
	top: 112px;
	left: 520px;
}

.three {
	top: 112px;
	left: 970px;
}

.footer {
	background-color: red;
	color: white;
	padding: 20px 1250px 20px 20px;
}

.one .two .three h1 p {
	text-align: left;
	padding: 97px 33px 33px 33px;
}