body {
	font-family: Arial;
	font-family: sans-serif;
}
.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
}		
.header-block {
	width: 100%;
	font-size: 50px;
	color: #E50043;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	height: 100%;
	align-items: center;
}		
.name {
	margin: 50px;
	line-height: 57,5px;
	font-size: 50px;
}
.links {
	display: flex;
	margin: 50px;
	list-style: none;
	text-decoration: none;
	text-decoration: none;
}
.links-item { 
	margin-right: 20px 
	} 
.links-item:last-child { 
	margin-right: 0;

}
.links-item a {
	text-decoration: none;
	font-family: Arial;
	font-size: 50px;
	line-height: 57px;
	color: #E50043;
}

.image-logo {
	display: flex;
	height: 100vh;
	background-image: url(../img/evian_origins_logo.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.logo-text {	
	font-size: 100px;
	color: #E50043;
	margin: auto;
}
.main-block-section {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 150px;
	padding-bottom: 150px;
}

.main-block {
	width: 1040px;
	border: 3px solid #F8BFC7;
	box-sizing: border-box;
	border-radius: 20px;
	justify-content: center;
	display: flex;
	padding: 24px;
}

.main-text {
	font-size: 25px;
	line-height: 29px;
	letter-spacing: 0.05em;
	color: #000000;
}
.main-description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.bottles {
	display: flex;
	align-items: center;
	justify-content: center;
}
.bottles-item {
	display: flex;
	flex-direction: column;
}
.bottles-text {
	margin-top: 42px;
	font-size: 25px;
	line-height: 29px;
	text-align: center;
	color: #000000;

}
.bottles-block {
	width: 1040px;
	display: flex;
	justify-content: space-between;
}
.glass{
	padding: 50px;
}
.info {
	border: 3px solid #F8BFC7;
 	box-sizing: border-box;
	border-radius: 20px;
	margin: 50px;
	display: flex;
}
p.info {
	font-size: 25px;
	line-height: 29px;
	align-items: center;
	letter-spacing: 0.05em;
	color: #000000;
	padding: 24px;
}

.copyright {
	height: 140px;
	background: #F8BFC7;
	padding: 50px 50px 50px 50px;
	font-size: 50px;
	line-height: 57px;
	display: flex;
	align-items: center;
	color: #FFFFFF;

}