body {
	width: 1440px;
	font-family: Arial;
	font-family: sans-serif;
}

.header {
	height: 140px;
	font-size: 50px;
	color: #E50043;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}		
.name {
	padding: 50px;
	line-height: 57,5px;
	font-size: 50px;
	margin: initial;
}
.links {
	display: flex;
	list-style: none;
}

div.image.text{
	display: flex;
}
.image {
	display: flex;
	width: 1440px;
	height: 950px;
	background-image: url(../img/evian_origins_logo.png);
}
.logo-text {	
	font-size: 100px;
	color: #E50043;
	margin: auto;
}

div.main-text {
	width: 1040px;
	height: 280px;
	border: 3px solid #F8BFC7;
	box-sizing: border-box;
	border-radius: 20px;
	justify-content: center;
	margin: 150px;
}

p.main-text {
	padding-left: 24px;
	font-size: 25px;
	line-height: 29px;
	display: flex;
	letter-spacing: 0.05em;
	color: #000000;
}

.bottles {
	display: flex;
}
.wang {
	padding: 100px;
	width: 281px;
	height: 863px;
	background: url(../img/wang.png);
	background-repeat: no-repeat;
}
.wang div {
	width: 248px;
	height: 58px;
	font-size: 25px;
	line-height: 29px;
	align-items: center;
	text-align: center;
	color: #000000;

}
.blue {
	padding: 100px;
	width: 279px;
	height: 863px;
	background: url(../img/blue.png);
	background-repeat: no-repeat;
}
.chiara {
	padding: 100px;
 	width: 280px;
 	height: 863px;
	background: url(../img/chiara.png);
	background-repeat: no-repeat;
}
.info {
	width: 1040px;
	height: 280px;
	border: 3px solid #F8BFC7;
 	box-sizing: border-box;
	border-radius: 20px;
	margin: 50px;
	display: flex;
}
p.info {
	font-size: 25px;
	line-height: 29px;
	align-items: center;
	letter-spacing: 0.05em;
	color: #000000;
	padding: 24px;
}

.copyright {
	height: 140px;
	background: #F8BFC7;
	padding: 50px 50px 50px 50px;
	font-size: 50px;
	line-height: 57px;
	display: flex;
	align-items: center;
	color: #FFFFFF;

}