.body {
	width: 1440px;
}

.header {
    background-color: greenyellow;
	padding: 80px;
}

.my-name {
	font-family: sans-serif;
	color: Orchid;
	padding: 80px;
}

.navigation {
	background-color: greenyellow;
	color: Orchid;
	padding-top: 80px;
	padding-bottom: 80px;
	font-family: sans-serif;
}

.link {
	color: Orchid;
	text-decoration: underline;	
}

.link:hover {
	color: Orchid;
	text-decoration: none;	
}

.link:visited {
	color: Plum;
	text-decoration: underline;	
}

.about-me {	
	letter-spacing: 3px;
	font-family: sans-serif;
	padding-top: 80px ;
	padding-bottom: 80px;
	padding-left: 80px;
}

.footer {
	height: 200px;
	background-color: greenyellow;
}

.image2 {
	padding: top 77px, left 80px, bottom 77px;
	background-image: url("img/img2.png");
	background-size: 100%;

}