.header div {
    background-color: greenyellow;
	width: 1440px;
	height: 200px;
}

#myName {
	align-content: left;
	font-family: sans-serif;
	color: white;
	padding: 80px;
	latter-spacing: 7px;
}

#image1 {
	background-image: url("../img/img1.jpg");
	height: 1000px;
	weight: 1440px;
}

.navigation {
	background-color: greenyellow;
	width: 1440px;
	height: 200px;
	color: GhostWhite;
	padding-top: 80px;
	padding-bottom: 80px;
	font-family: sans-serif;
}

#link {
	color: GhostWhite;
	text-decoration: underline;	
}

#link:hover {
	color: GhostWhite;
	text-decoration: none;	
}

#link:visited {
	color: Beige;
	text-decoration: underline;	
}

.main #aboutMe {	
	letter-spacing: 3px;
	font-family: sans-serif;
	padding-top: 80px ;
	padding-bottom: 80px;
}

#footer {
	width: 1440px;
	height: 200px;
	background-color: greenyellow;
}

#image2 {
	padding: top 77px, left 80px, bottom 77px;
}