.header {
    background-color: DarkSlateBlue;
	width: 1440px;
	height: 200px;
}
.myName {
	align-content: left;
	font-family: sans-serif;
	color: white;
	padding: 80px;
	latter-spacing: 7px;
}

.image1 {
	background-image: url("../img/img1.jpg");
	height: 1000px;
	weight: 1440px;
}
.link {
	color: ghostwhite;
	text-decoration: underline;
}

.link:hover {
	color: ghostwhite;
	text-decoration: none;	
}

.link:visited {
	color: khaki;
	text-decoration: underline;	
}

.navigation {
	background-color: DarkSlateBlue;
	width: 1440px;
	height: 100px;
	color: ghostwhite;
	padding:  top 36px, left 80px, bottom 35px;
	font-family: sans-serif;
}
.aboutMe {	
	letter-spacing: 3px;
	font-family: sans-serif;
	padding: 80px;
}
.footer {
	width: 1440px;
	height: 200px;
	background-color: DarkSlateBlue;
}

.image2 {
padding: top 77px, left 80px, bottom 77px;
}