@font-face {
font-family: "ptserif"; 
src: url("../fonts/PTF55F.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 

.header {
	width: 98vw;
	max-height: 150px;
  	min-height: 50px;
	background-color: yellow;
	font-size: 15px;
	margin: auto;
	align-content: center;
	padding: 20px;
	text-align: center;
}
.h1 {
  	margin: auto;
}

.page {
	display: flex;
	padding: 50px;
	justify-content: space-between;
	align-items: stretch;
	margin: auto;
} 

.column {
	display: flex;
	width: calc((100% - 100px)/3);
	border: 1px solid black;
  	flex-direction: column;


}
.text {
	padding: 20px;
}
.img1 {
  	background-image: url(../img/австралийская_овчарка.jpeg);
	background-size: cover;
	background-position: center;
	padding-bottom: 100%;
}
.img2 {
  	background-image: url(../img/австралийская_пастушья_собака.jpg);
	background-size: cover;
	background-position: center;
	padding-bottom: 100%;
	
}
.img3 {
  	background-image: url(../img/бордер_колли.jpeg);
	background-size: cover;
	background-position: center;
	padding-bottom: 100%;
}
footer {
	width: 98vw;
	max-height: 150px;
  	min-height: 50px;
	background-color: yellow;
	font-size: 30px;
	margin: auto;
	align-content: center;
	text-align: center;
	padding: 20px;
}